* {
    margin: 0px;
    box-sizing: border-box; 
  }

body{
    background-color: lightskyblue;
    background: radial-gradient(circle at center, 
    cyan, rgb(68, 145, 253), deepskyblue),100% ;
    border-style: hidden;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 1.6px;
    text-align: center;
}

textarea{
    resize: none;
    max-width: 700px;
    max-height: 350px;
}

form{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

label {
    display:block;
    position:relative;
}

.nav {
    background-color: black;
    overflow: hidden;
}
  
.nav a {
    font-size: 17px;
    color: deepskyblue;
    text-decoration: none;
    padding: 10px 50px;
    border-radius: 5px;
    text-align: center;
    float:left;
}

.nav a:hover {
    background-color:deepskyblue;
    color: black;
    font-weight: bold;
}

.nav .active {
    background-color:purple;
    font-weight: bold;
}

img{
    display: block;
    margin: auto;
    width: 500px;

}

container {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
#note{
    height: auto;
    width: auto;
    font-size: small;
}

container div{
    width: 100px;
    height: 100px;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
    border-style: groove;
    border-color: deepskyblue ;
    height: 50px;
    text-align: center;
}